@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-gold: #FFFFFF;
  --color-brand-black: #1A1A1A;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --brand-accent: #FFFFFF;
}

body {
  @apply bg-white text-black font-sans antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: #ef4444;
  color: white;
}
